body {
    background-color: #6A1B9A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.profile img:hover {
    transform: scale(1.1);
}

.profile .name {
    font-weight: bold;
}

.profile .email {
    color: #888;
    font-size: 0.9em;
}

.section {
    margin-bottom: 20px;
}

.section-title {
    color: #888;
    font-size: 0.8em;
    margin-bottom: 10px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #eee;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.item:first-child {
    border-top: none;
}

.item i {
    margin-right: 10px;
    color: #888;
    transition: color 0.3s ease;
}

.item .text {
    display: flex;
    align-items: center;
}

.item .arrow {
    color: #888;
    transition: color 0.3s ease;
}

.item:hover {
    background-color: #f5f5f5;
}

.item:hover i,
.item:hover .arrow {
    color: #6A1B9A;
}

.logout {
    color: #E53935;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease;
}

.logout i {
    margin-right: 5px;
}

.logout:hover {
    color: #b71c1c;
}

@media (max-width: 600px) {
    body {
        background-color: #fff;
        justify-content: flex-start;
        padding: 20px;
    }

    .container {
        width: 100%;
        box-shadow: none;
        border-radius: 0;
    }

    .container:hover{
        transform: none;
        box-shadow: none;
    }
}